@font-face {
    font-family: KoHo;
    src: url("Koho-Regular.ttf") format("truetype");
}

header {
    background-color: #50a8c0;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 9999999999;
}

footer {
    background-color: #50a8c0;
    width: 100%;
    height: 40px;
    color: white;
    position: fixed;
    bottom: 0;
}

.container {
    font-family: KoHo, sans-serif;
    font-size: 20px;
}

.login-area {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5em;
}

.main-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.error {
    font-size: 0.9em;
    color: #c050a8;
}

.section-header {
    margin-bottom: 0;
    color: #de781f;
}

hr {
    background-color: #de781f;
    width: 30%;
    min-width: 20%;
    margin-bottom: 2em;
    border-width: 0.075em;
}

.border {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-left: #1f85de solid 1px;
    border-right: #1f85de solid 1px;
    border-bottom: #1f85de solid 4px;
    border-top: #1f85de solid 2px;
    border-radius: 0.2em;
}

.corner {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px
}

.small-text {
    font-size: 0.75em;
    font-weight: bold;
}

.pin-cell {
    width: 1.75em !important;
    height: 3.5em !important;
    border: 2px solid #528dcc !important;
    border-radius: 0.2em !important;
    padding-left: 1em !important;
    font-weight: 700 !important;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.pin-cell:focus {
    border: 2px solid #e6a32e !important;
}

.text-link { cursor: pointer; }

.alert {
    padding: 20px;
    margin-bottom: 15px;
}

.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: #000;
}

.alert-error {
    background-color: #c050a8;
    color: #f3e5f5;
}

.alert-success {
    background-color: #a8c050;
    color: #e8f5e9 ;
}

.payment-logo {
    margin: 1em;
    border: 1px solid #528dcc;
    border-radius: 4px;
}

.payment-logo-active {
    border: 2px solid #de781f !important;
    cursor: pointer;
    width: 125px;
}

.payment-logo:hover {
    border: 2px solid #de781f;
    cursor: pointer;
    width: 125px;
}

.horizontal-scroller {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}

.horizontal-item {
    width: 150px;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
}

.horizontal-item:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.horizontal-item-active {
    border: 1px solid #de781f;
    background-color: #fff8f2;
}

.attachment:hover {
    cursor: pointer;
    color: #50a8c0;
}

.icon-list {
    width: 120px;
    margin: 1em auto;
    display: inline-block;
}

.rte-wrapper {
    margin-bottom: 1em;
}

.rte-editor {
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 0.5em;
    min-height: 15em;
}

.popover {
    display: none;
    position: fixed;
    z-index: 999999999;
    width: 400px;
    margin: 0;
    padding: 0.5em;
    font-size: medium;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: visible;
    background-color: whitesmoke;
}

.popover h6 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.popover p {
    margin: 0;
    width: 100%;
    text-align: justify;
}

@media only screen and (min-width: 1201px) {
    .popover { width: 400px; }
}

@media only screen and (max-width: 993px) {
    .popover { width: 300px; }
}

@media only screen and (max-width: 601px) {
    .popover { width: 200px; }
}

.btn-mini {
    height: 25px !important;
    color: #FFF;
    font-size: 0.7rem;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 0 5px;
    line-height: 25px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    background-clip: padding-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-mini :hover :active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}